.Main {
    position: relative;
    width: 100%;
    max-width: 100%;
    min-height: 100%;

    h1 {
        width: 100%;
        text-align: center;
        font-size: 14px;
        background: #888;
        margin: 0;
        padding: 3px 0;
    }

    .TabsHold {
        width: 514px;
        overflow-x: scroll;
    }

    .Tabs {
        position: relative;
        min-height: 40px;
        text-align: center;
    }
}
